{% extends "bootstrap/base.html" %}
{% block title %}More Info{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='camera.ico') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Finstagram</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container tags">
		<h1>More Information</h1>
		<br>
		<div class="row">
			<div class="col-8">
				<div class="card" style="width: 36rem">
					<div class="card-header">
						<div style="float: left"><img src="../static/img/octocat.png">{{photo.poster}} <span style="font-size: 1 rem; color: grey">({{photo.firstName}} {{photo.lastName}})</span></div>
						<div id="post-info" style="float: right; padding-right: 10px">#{{photo.pID}} {{photo.postingDate}}</div>
					</div>
					<img class="card-img-top" src=../{{photo.filePath}} alt="Card image">
					<div class="card-body">
						<div>{{photo.poster}}<span class="caption"> {{photo.caption}}</span></div>
						<form style="padding-top: 10px" action="/reactTo" method="POST">
							<div class="form-row align-items-center">
								<div class="col-sm-2 my-1">
									<label class="sr-only" for="inlineFormInputName">Emoji</label>
									<input type="text" class="form-control" name="emoji" id="inlineFormInputName" placeholder="Emoji">
								</div>
								<div class="col-sm-8 my-1">
									<label class="sr-only" for="inlineFormInputGroupUsername">Comment</label>
									<div class="input-group">
									<input type="text" class="form-control" name="comment" id="inlineFormInputGroupUsername" placeholder="Comment">
									</div>
								</div>
								<div class="col-auto my-1">
									<button type="submit" class="btn btn-success">React!</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card" style="width: 36rem; margin-top: 10px; margin-bottom: 10px">
					<div class="card-header">Reactions</div>
					<div class="card-body">
						{% for comment in comments %}
						<div>{{comment.username}} <span style="color: blue">{{comment.emoji}}</span> <span >{{comment.comment}}</span></div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-header">
						#{{photo.pID}}'s Current Tags
					</div>
					<div class="card-body">
						{% for tag in currTags %}
						<div>{{tag.username}} <span style="color: grey">({{tag.firstName}} {{tag.lastName}})</span></div>
						{% endfor %}
					</div>
				</div>
				<div class="card" style="margin-top: 15px">
					<div class="card-header">Pending Tags for You</div>
					<div class="card-body">
						{{pendTagMssg}}
						{% if (pendTagMssg == "You have been tagged for this photo.") %}
							<form action="/tagResponse" style="padding-top: 10px" method="POST">
								<input style="float: left; margin-right: 5px" class="btn btn-primary btn-sm" type="submit" name="acceptDecline" value="Accept" />
								<input style="float: left" class="btn btn-outline-primary btn-sm" type="submit" name="acceptDecline" value="Decline" />
								<!-- <input style="float: right; margin-left: 5px" class="btn btn-outline-primary btn-sm" type="button" name="decline" value="Decline" />
								<input style="float: right" class="btn btn-primary btn-sm" type="button" name="accept" value="Accept" /> -->
							</form>
						{% endif %}
					</div>
				</div>
				<div class="card" style="margin-top: 15px">
					<div class="card-header">Add Tags</div>
					<div class="card-body">
						<!-- <h5 class="card-title">Send a tag</h5> -->
						<form action="/sendTag" method="POST">
							<input class="form-control" type="text" name="sendTag" placeholder="User" required /></br>
							<input class="btn btn-primary" type="submit" value=Send />
						</form>
						{% if (error == "Error: photo is not visible to user and cannot be tagged.") %}
								{{error}}
							{% endif %}
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}